:root {
  --link-color: #339989;
  --body-accent-color: #e1e4e8;
  --color-transition: 0.3s ease-out;
  --source-code-font: 'Source Code Pro', monospace;
  --table-border-color: #ddd;
  --alternate-table-color: #eaecef;
  --primary-color: #339989;
}